slide.intro p {
font-size: 29px ;
font-family: "Times New Roman", Georgia, Serif;
}

slide.preface p {
font-size: 22px ;
font-family: "Times New Roman", Georgia, Serif;
}

slide.cover img {
    max-height: 560px;
    max-width: 964px;
    height: 600px;
    width: 400px;
}

